{% extends 'coloring_pages/base.html'%}
{%load static%}
{% load filter%}

{% block content%}
<h1>dafdsfdsf</h1>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Категории раскрасок</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                aria-label="Закрыть"></button>
    </div>
    <div class="offcanvas-body">
        <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown">
                Выбрать категорию
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for cat in cats%}
                <li><a class="dropdown-item" href="{{ cat.get_absolute_url}}">{{cat.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for tema in Tems %}
        <div class="col">
            <div class="container-iner">
                <div class="card" style="width: 18rem;">
                    <h3 class="card-title_tema">{{tema.name|capfirst}}</h3>
                    <div class="card-body " id="card-body_tema">
                        <p class="card-text">Описание: {{tema.content}}</p>
                        <a href="{{tema.get_absolute_url}}" class="btn btn-primary">Посмотреть</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <h1>Категория не найдена</h1>
        {% endfor %}
    </div>
</div>
{% endblock%}